.container {
  text-align: center;
  margin: 0 auto;
}
.button {
  height: 200px;
  width: 200px;
}
.button:hover {
  opacity: 0.5;
}
#button1 {
  border-radius: 100% 0 0 0;
  background-color: green;
  border: 4px solid darkgreen;
}
#button2 {
  border-radius: 0 100% 0 0;
  background-color: red;
  border: 4px solid darkred;
}
#button3 {
  border-radius: 0 0 100% 0;
  background-color: yellow;
  border: 4px solid goldenrod;
  float: right;
}
#button4 {
  border-radius: 0 0 0 100%;
  background-color: blue;
  border: 4px solid darkblue;
  float: right;
}
